{% load staticfiles %}
<html lang="en">
<title>StringSlide</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
<link rel="stylesheet" href="{% static 'css/entry.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 <a href="/">
<div class="header">
  <span>StringSlide</span>
</div>
</a>

<body>
  <section class="hero">
    <!-- Begin section for found ones -->
    <div class="definition">
      {% if prod_year_result %}
      {% for entry in prod_year_result %}
      <h1 class="col-2-3">{{entry.manufacturer_name}} "{{entry.guitar_name}}" {{entry.guitar_model}}</h1>
      <h3>Guitar ID: {{entry.guitar_id}}</h3>
        <h3>Production Year: {{entry.production_year}}</h3>
      <br>
      <br>
      {% endfor %}
      {% endif %}
      <!-- End section for found ones -->
      {% if man_era_result %}
      <!--manufacturer_name, guitar_model, production_year, where_purchased-->
      {% for entry in man_era_result %}
      <h1 class="col-2-3">{{entry.manufacturer_name}} "{{entry.guitar_name}}" {{entry.guitar_model}}</h1>
      <h3>Guitar ID: {{entry.guitar_id}}</h3>
      <h3>Production Year: {{entry.production_year}}</h3>
      <h3>Location: {{entry.where_purchased}}</h3>
      <br>
      <br>
      {% endfor %}
      {% endif %}

      {% if country_prod_year %}
      <!--manufacturer_name, guitar_model, production_year, where_purchased-->
      {% for entry in country_prod_year %}
      <h1 class="col-2-3">{{entry.manufacturer_name}} "{{entry.guitar_name}}" {{entry.guitar_model}}</h1>
      <h3>Guitar ID: {{entry.guitar_id}}</h3>
      <h3>Production year: {{entry.production_year}}</h3>
      <h3>Location: {{entry.where_purchased}}</h3>
      <br>
      <br>
      {% endfor %}
      {% endif %}


      {% if pickup_result %}
      <!--manufacturer_name, guitar_model, production_year, where_purchased-->
      {% for entry in pickup_result %}
      <h1 class="col-2-3">{{entry.manufacturer_name}} "{{entry.guitar_name}}" {{entry.guitar_model}}</h1>
      <h3>Guitar ID: {{entry.guitar_id}}</h3>
        <h3>Production year: {{entry.production_year}}</h3>
        <h3>Neck pickup: {{entry.neck_pickup}}</h3>
        <h3>Middle pickup: {{entry.middle_pickup}}</h3>
        <h3>Bridge pickup: {{entry.bridge_pickup}}</h3>
      <br>
      <br>
      {% endfor %}
      {% endif %}

      <!--Begin section for term not found -->
      {% if query %}
      {% for entry in query %}
      <h1 class="col-2-3">{{entry.manufacturer_name}} "{{entry.guitar_name}}" {{entry.guitar_model}}</h1>
      <h3>Guitar ID: {{entry.guitar_id}}</h3>
            <h3>Serial Number: {{entry.serial_number}}</h3>
      <br>
      <br>
      {% endfor %}
      {% endif %}

      <!--End Section for term not found -->

      <!--Begin section for related words -->
      {% if entrys %}
      {% for entry in entrys %}
       <h1 class="col-2-3">{{entry.manufacturer_name}} "{{entry.guitar_name}}" {{entry.guitar_model}}</h1>
       <h3>Guitar ID: {{entry.guitar_id}}</h3>
            <h3>Serial Number: {{entry.serial_number}}</h3>

        <br>
      <br>
      {% endfor %}
      {% endif %}

      <!--End Section for related words -->
    </div>



  </section>



</body>
</html>
