{% load staticfiles %}
<html lang="en">
<title>StringSlide</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
<link rel="stylesheet" href="{% static 'css/entry.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 <a href="/">
<div class="header">
  <span>StringSlide</span>
</div>
</a>

<body>
  <section class="hero">
    <!-- Begin section for found ones -->
    <div class="definition">
      {% if query %}
      {% for entry in query %}
      <h1 class="col-2-3">{{entry.manufacturer_name}} "{{entry.guitar_name}}"{{entry.guitar_model}}</h1>
      <h3>Guitar ID: {{entry.guitar_id}}</h3>
            <h3>Serial Number: {{entry.serial_number}}</h3>

      <br>
      <br>
    
  
      {% endfor %}
      {% endif %}
      <!-- End section for found ones -->
      <!--Begin section for term not found -->
      {% if not entrys and not query%}
      <h1 class="col-2-3">Term Not Found.</h1>
      {% endif %}

      {% if not error and not query%}

      <!--End Section for term not found -->


      {% if entrys %}
      <p> Did you mean? </p>
      {% endif %}

      <!--Begin section for related words -->

      {% for entry in entrys %}
       <h1 class="col-2-3">{{entry.manufacturer_name}} "{{entry.guitar_name}}" {{entry.guitar_model}}</h1>
       <h3>Guitar ID: {{entry.guitar_id}}</h3>
            <h3>Serial Number: {{entry.serial_number}}</h3>

        <br>
      <br>
    
      {% endfor %}
      {% endif %}

      <!--End Section for related words -->
    </div>



  </section>



</body>
</html>
