{% load staticfiles %}
<html lang="en">
<title>StringSlide</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- <div class="header">
  <div class="w3-center w3-padding-16">Welcome to StringSlide!</div>
  <div class="w3-right w3-padding-16">About</div>
</div> -->

<!-- Top menu -->
<div class="w3-top" style="background-color:#9fc2ea">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <!-- <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div> -->
    <a href="/new">


         <div class="w3-right w3-padding-16">New Entry</div>

    </a>
    <a href="">
      <div class="w3-left w3-padding-16">Welcome to StringSlide!</div>
    </a>
  </div>
</div>


<!--SEARCH-->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:80px">
  <div class="w3-center">

     <form id="target" name="" action="/search/" method="get">
          <div class="input-field">
            <h3>Search for a Guitar Manufacturer, Name or Model.</h3>
            <span class="icon"><i class="fa fa-search"></i>
            </span>
            <input type="search" id="search" placeholder="Search..." name="q"/>
          </div>
        </li>
        <div id="button-container">
        <button class="target" name="" action="/search/" method="get">Search</button>
      </form>
  </div>
</div>
</div>




<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:20px">
<!-- Guitar Photos Picked for the Day -->
<div class="w3-row-padding w3-padding-16 w3-center" id="food">
  <a href="{{guitar_url}}">
    <div class="w3-third">
      <h3>{{guitar_manufacturer}} {{guitar_name}} {{guitar_model}}</h3>
      <img src={{guitar_image}} alt="Guitar Image" height="400" width="300">
      <p style="font-size:20px">{{guitar_summary}}</p>
    </div>
  </a>
  <a href="{{guitar_url}}">
    <div class="w3-third">
      <h3>{{guitar_manufacturer2}} {{guitar_name2}} {{guitar_model2}}</h3>
      <img src={{guitar_image2}} alt="Guitar Image" height="400" width="300">
      <p style="font-size:20px">{{guitar_summary2}}</p>
    </div>
  </a>
  <a href="{{guitar_url}}">
    <div class="w3-third">
      <h3>{{guitar_manufacturer3}} {{guitar_name3}} {{guitar_model3}}</h3>
      <img src={{guitar_image3}} alt="Guitar Image" height="400" width="300">
      <p style="font-size:20px">{{guitar_summary3}}</p>
    </div>
  </a>
</div>
<div class="w3-row-padding w3-padding-16 w3-center" id="food">
  <div class="w3-center">
      <button class="open-button" onclick="openForm()">Advanced Search</button>
  </div>
</div>

<div class="form-popup" id="myForm">
  <div class="form-container">
    <!--     <form id="target" name="" action="/search/" method="get">-->
    <!-- <form action="/advsearch/" class="form-container"> -->
      <!-- <div class="w3-center"><h3>General information</h3></div>
      <div class="w3-third">
        <label for="email"><b>Guitar manufacturer</b></label>
        <input type="text" placeholder="Ex. Fender" name="manufacturer">
      </div>
      <div class="w3-third">
        <label for="model"><b>Guitar model</b></label>
        <input type="text" placeholder="Ex. Stratocaster" name="model" >
      </div>
      <div class="w3-third">
        <label for="name"><b>Guitar name/nickname</b></label>
        <input type="text" placeholder="Ex. Monterey Strat" name="name" >
      </div>

      <div class="w3-center"><h3>Electronics</h3></div>
      <div class="w3-third">
        <label for="email"><b>Neck pickup</b></label>
        <input type="text" placeholder="Ex. PAF" name="neck_pickup">
      </div>
      <div class="w3-third">
        <label for="model"><b>Middle pickup</b></label>
        <input type="text" placeholder="Ex. Texas Special" name="middle_pickup">
      </div>
      <div class="w3-third">
        <label for="year"><b>Bridge pickup</b></label>
        <input type="text" placeholder="Ex. Seymour Duncan APH II" name="bridge_pickup">
      </div>

      <div class="w3-center"><h3>Woods</h3></div>
      <div class="w3-third">
        <label for="body_wood"><b>Body wood</b></label>
        <input type="text" placeholder="Ex. Mahogany" name="body_wood">
      </div>
      <div class="w3-third">
        <label for="neck_wood"><b>Neck wood</b></label>
        <input type="text" placeholder="Ex. Maple" name="neck_wood">
      </div>
      <div class="w3-third">
        <label for="fret"><b>Fretboard wood</b></label>
        <input type="text" placeholder="Ex. Rosewood" name="fret">
      </div> -->

      <div class="w3-center"><h3>Preselected Advanced Search</h3></div>
        <div class="w3-center">
          <p>Find all the guitars made at a specific year</p>
          <form id="target" name="" action="/advsearch/" method="get">
               <div class="input-field">
                 <label for="prod_year">Production year</label>
                 <span class="icon"><i class="fa fa-search"></i></span>
                 <input type="search" id="search" placeholder="Ex. 1959" name="prod_year"/>
               </div>
             </li>
             <div id="button-container">
               <button class="target" name="" action="/advsearch/" method="get">Search</button>
             </div>
           </form>
         </div>

         <div class="w3-center">
           <p>Find all the guitars made by a particular manufacturer before a certain year and provide their current location</p>
           <form id="target" name="" action="/advsearch/" method="get">
                <div class="input-field">
                  <span class="icon"><i class="fa fa-search"></i></span>
                  <label for="era">Manufacturer name</label>
                  <input type="search" id="search" placeholder="Ex. Gibson" name="manufacturer_name"/>

                  <label for="era">Production year</label>
                  <input type="search" id="search" placeholder="Ex. 1950s" name="era"/>
                </div>
                <div id="button-container">
                  <button class="target" name="" action="/advsearch/" method="get">Search</button>
                </div>
            </form>
          </div>

          <div class="w3-center">
            <p>Find all the guitars made before a certain year that are located at a specific country</p>
            <form id="target" name="" action="/advsearch/" method="get">
                 <div class="input-field">
                   <span class="icon"><i class="fa fa-search"></i></span>
                   <label for="era">Current country</label>
                   <input type="search" id="search" placeholder="Ex. Korea" name="current_country"/>

                   <label for="prod_year_country">Production year</label>
                   <input type="search" id="search" placeholder="Ex. 1989" name="prod_year_country"/>
                 </div>
                 <div id="button-container">
                   <button class="target" name="" action="/advsearch/" method="get">Search</button>
                 </div>
             </form>
           </div>

           <div class="w3-center">
             <p>Find all the guitars that have a specific pickup installed on the neck, middle, or bridge position</p>
             <form id="target" name="" action="/advsearch/" method="get">
                  <div class="input-field">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <label for="n_pickup">Neck pickup</label>
                    <input type="search" id="search" placeholder="Ex. PAF" name="n_pickup"/>

                    <label for="m_pickup">Middle pickup</label>
                    <input type="search" id="search" placeholder="Ex. Texas Special Single Coil" name="m_pickup"/>

                    <label for="b_pickup">Bridge pickup</label>
                    <input type="search" id="search" placeholder="Ex. Symour Duncan APH" name="b_pickup"/>
                  </div>
                  <div id="button-container">
                    <button class="target" name="" action="/advsearch/" method="get">Search</button>
                  </div>
              </form>
            </div>



      </div>



        <!-- <form action="/advsearch/" class="form-container">
          <label for="prod_year"><b>Production year</b></label>
          <input type="text" placeholder="Ex. 1963" name="prod_year">
        </form> -->
        <div class="w3-center">
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </div>

    <!-- </form> -->
  </div>
</div>



<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}
function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>


</html>
